.site-footer {
    background-color: map-get( $blue, "300" );
    color: map-get( $white, "100" );

    a {
        color: inherit;
    }

    > * {
        display: flex;
        flex-wrap: wrap;
    }
}

.search-bottom-bar {
    flex-basis: 15rem;
    flex-grow: 1;

    .search-form {
        display: block;
        height: 100%;
    }

    .search-form-input {
        height: 100%;
        width: 100%;
        background-color: map-get( $blue, "400" );
        border: 0;
        color: inherit;
        padding-top: 0;
        padding-bottom: 0;

        &::placeholder {
            color: map-get( $white, "100" );
        }
    }

    .search-form-submit {
        display: none;
    }
}

.creds {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 50%;
    padding: ( $base-spacing / 3 ) ( $base-spacing / 2 );
    text-align: right;

    @include puddle {
        padding-left: $base-spacing;
        padding-right: $base-spacing;
    }

    @include pond {
        text-align: center;
    }

    p {
        margin: 0;
    }

    .powered-by {
        display: none;

        @include pond {
            display: inline;
        }
    }
}

.footer-widgets {
    margin: $base-spacing 0;
}

.widget {
    ul, ol {
        margin-left: 0;
    }

    .widget-title {
        font-size: 24px;
    }
}

@include river {
    .footer-widget-area {
        display: flex;

        .widget {
            flex: 1 calc( ( 100% / 2 ) - 30px );

            &:first-of-type {
                padding-right: ( $base-spacing / 2 );
            }

            &:last-of-type {
                padding-left: ( $base-spacing / 2 );
            }
        }
    }
}

