#logo {
    margin: 0 ( $base-spacing / 5 );
    height: auto;
    width: 128px;
}

#left-eye,
#right-eye {
    fill: map-get( $white, "500" );
    stroke: map-get( $white, "500" );
}

#whiskers {
    fill: map-get( $blue, "300" );
}

.front-page-loop {
    clear: both;
}
