.sandwich-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 48px;
    width: auto;
    background-color: map-get( $blue, "300" );
    color: map-get( $white, "100" );
    font-size: 32px;
    z-index: 10;
}

.sandwich-button {
    background-color: transparent;
    border: none;
    color: inherit;
    line-height: $base-line-height;
    padding: 0;

    &:hover,
    &:focus {
        background-color: transparent;
        transform: scale( 1.1 );
    }
}

.site-header {
    padding: 0;

    .admin-bar & {
        top: 46px;

        @include admin-bar() {
            top: 32px;
        }
    }
}

.header-top-bar {
    display: none;
}

.home-link {
    display: inline-block;
}

body::before {
    content: ' ';
    display: block;
    background-color: map-get( $blue, "300" );
    height: 48px;
    width: 100%;
}
