.site-container {
    display: flex;
    flex-wrap: wrap;
}

.site-header {
    flex-basis: 18rem;
    flex-grow: 1;
}

.site-inner {
    flex-basis: 0;
    flex-grow: 999;
    padding: $base-spacing;
}

.footer-widgets {
    flex-basis: 100%;
    padding: 0 $base-spacing;
}

.site-footer {
    flex-basis: 100%;
}
