.site-inner,
.footer-widgets > .wrap {
    padding: $base-spacing;

    @include river {
        width: 90%;
        margin: 0 5%;
    }

    @include lake {
        width: 70%;
        margin: 0 15%;
    }
}
