.nav-wrapper {
    margin: ( $base-spacing / 2 ) 0;
    text-align: right;
}

.nav-primary {
    margin: ( $base-spacing / 2 ) 0;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-transform: uppercase;

        ul {
            margin-bottom: ( $base-spacing / 2 );
            text-transform: lowercase;
        }
    }

    a {
        display: inline-block;
        background-color: map-get( $blue, "300" );
        color: $background-color;
        margin: ( $base-spacing / 5 ) 0;
        padding: ( $base-spacing / 5 );
        text-decoration: none;
        transition: all 350ms ease-in-out;

        &:focus,
        &:hover {
            background-color: map-get( $blue, "500" );
        }
    }
}