.older-posts-link {
    @extend .button;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .alignleft,
    .alignright {
        margin: 0;
    }

    a {
        @extend .button;
    }

    .pagination-next {
        margin-left: auto;
    }
}

.entry-pagination {
    display: block;

    .post-page-numbers {
        @extend .button;

        display: inline-block;
        padding-top: 0; /* numbers are a bit weird in this font, so we remove the top padding for a better look */

        &.current {
            background-color: map-get( $blue, "500" );
            border-color: map-get( $blue, "500" );
        }
    }
}
